<div class="modal-header">
  <h4 class="modal-title text-primary">{{ diaryEntry.title }}</h4>
  <button
    type="button"
    class="btn-close"
    (click)="close()"
    aria-label="Schließen"
  ></button>
</div>
<div class="modal-body">
  <div *ngIf="diaryEntry.images.length > 0">
    <app-image-carousel [imageList]="diaryEntry.images"></app-image-carousel>
  </div>
  <h6 class="text-secondary">{{ diaryEntry.location }}</h6>
  <p class="text-pre-line">{{ diaryEntry.body }}</p>
  <p *ngIf="diaryEntry.searchTags.length > 0">
    <span *ngFor="let tag of diaryEntry.searchTags" class="search-tag me-1">
      {{ tag }}
    </span>
  </p>
  <p>
    <small class="text-muted"
      >Erstellt am {{ diaryEntry.createdAt | date }}.
    </small>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="close()">
    <span>Schließen</span>
  </button>
</div>
