<div class="card h-100">
  <div class="card-header bg-transparent" appAuth>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="openUpdateEntryModal()"
      [disabled]="showSpinner"
      aria-label="Bearbeiten"
    >
      <fa-icon [icon]="diaryEntryEditIcon"></fa-icon>
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm ms-1"
      (click)="openImageModal()"
      [disabled]="showSpinner"
      aria-label="Fotos"
    >
      <fa-icon [icon]="diaryEntryImagesIcon"></fa-icon>
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm ms-1"
      [hidden]="showSpinner"
      (click)="deleteEntry()"
      aria-label="Entfernen"
    >
      <fa-icon [icon]="diaryEntryDeleteIcon"></fa-icon>
    </button>
    <div
      *ngIf="showSpinner"
      class="spinner-border text-danger align-middle ms-1"
      role="status"
    >
      <span class="visually-hidden">Lösche Tagebucheintrag...</span>
    </div>
  </div>
  <app-image-with-loader
    *ngIf="diaryEntry.previewImage !== undefined"
    [image]="diaryEntry.previewImage"
    class="card-img-top"
  ></app-image-with-loader>
  <div class="card-body">
    <h4 class="card-title text-primary">{{ diaryEntry.title }}</h4>
    <h6 class="card-subtitle text-secondary mb-2">
      {{ diaryEntry.location }}
    </h6>
    <p *ngIf="diaryEntry.dateRange !== undefined" class="card-text">
      <small class="text-muted">{{ diaryEntry.dateRange | dateRange }}</small>
    </p>
    <p class="card-text">{{ diaryEntry.body | diaryEntryBrief: 150 }}</p>
    <div *ngIf="diaryEntry.searchTags.length > 0" class="d-flex flex-wrap mb-3">
      <div *ngFor="let tag of diaryEntry.searchTags" class="search-tag">
        {{ tag }}
      </div>
    </div>
    <p class="card-text">
      <small class="text-muted">
        Erstellt am {{ diaryEntry.createdAt | date }}.
      </small>
    </p>
    <button
      type="button"
      class="btn btn-primary"
      (click)="openEntryModal()"
      [disabled]="showSpinner"
    >
      Erfahre mehr
    </button>
    <div *ngIf="httpAlert.isShown" class="mt-4">
      <app-http-alert-message
        [alertType]="httpAlert.alertType"
      ></app-http-alert-message>
    </div>
  </div>
</div>
