<nav class="navbar navbar-light">
  <div class="navbar-brand"></div>
  <div class="d-inline mr-0">
    <button class="btn btn-primary"
            type="button"
            [hidden]="isLoggedIn"
            (click)="openLoginModal()">
      Login
    </button>
    <div *ngIf="isLoggedIn">
      <button class="btn btn-secondary"
              type="button"
              (click)="openDiaryEntryModal()">
        Neuer Tagebucheintrag
      </button>
      <button class="btn btn-primary ml-2"
              type="button"
              (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
