<div class="container">
  <app-spinner [showSpinner]="!(diaryEntries || alertMessage)"></app-spinner>
  <app-http-alert [alertMessage]="alertMessage"></app-http-alert>
  <div class="row row-cols-1 row-cols-sm-2" *ngIf="hasEntries()">
    <div class="col mb-4" *ngFor="let diaryEntry of diaryEntries">
      <div class="card h-100">
        <img *ngIf="diaryEntry.images.length > 0"
             src="http://localhost:3000/images/{{diaryEntry.images[0]._id}}.jpg"
             alt="{{diaryEntry.images[0]._id}}.jpg"
             class="card-img-top">
        <div class="card-body">
          <h4 class="card-title beach-title">{{diaryEntry.title}}</h4>
          <h6 class="card-subtitle beach-subtitle mb-2">
            {{diaryEntry.locationName}}
          </h6>
          <p class="card-text">{{brief(diaryEntry)}}</p>
          <p class="card-text"><small class="text-muted">
            Erstellt am {{diaryEntry.createdAt | date}}.
          </small></p>
          <button type="button"
                  class="btn rounded-pill beach-button"
                  (click)="openModal(diaryEntry)">
            <span>Erfahre mehr</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="noEntries()">Sorry, es sind leider noch keine Tagebucheinträge
  vorhanden. Wir hoffen, ihr habt noch etwas Geduld mit uns.</p>
</div>
