<div class="jumbotron">
  <h1 class="display-6">Reisetagebuch</h1>
  <p class="lead">Willkommen in unserem Reisetagebuch.</p>
  <p>Wir sind das Weltenbummlerpaar Susanna und Kai. Danke, dass ihr
  vorbeischaut und euch für unsere Reiseabenteuer interessiert. Wir wünschen
  euch viel Vergnügen beim Lesen.</p>
</div>

<div class="container">
  <h4>Warum ein Tagebuch?</h4>
  <p class="text-muted">Obwohl diese Seite sehr ähnlich zu einem Reiseblog
  aufgebaut ist, so werdet ihr hier weder Reisetipps noch Empfehlungen für
  Unterkünfte, Restaurants, oder ähnliches finden. Wir haben uns bewusst für
  den Begriff <em>Reisetagebuch</em> entschieden, da wir hier unsere
  Reiseeindrücke für uns persönlich festhalten möchten. Diese wollen aber
  natürlich auch mit Familie und Freunden teilen.<p>
</div>

<div class="container">
  <h2>Tagebucheinträge</h2>
  <app-spinner [showSpinner]="!(diaryEntries || alertMessage)"></app-spinner>
  <app-alert [alertMessage]="alertMessage"></app-alert>
  <div class="row row-cols-1 row-cols-sm-2" *ngIf="hasEntries()">
    <div class="col mt-4" *ngFor="let diaryEntry of diaryEntries">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{diaryEntry.title}}</h4>
          <h6 class="card-subtitle text-muted mb-2">
            {{diaryEntry.locationName}}
          </h6>
          <p class="card-text">{{brief(diaryEntry)}}</p>
          <p class="card-text"><small class="text-muted">
            Erstellt am {{diaryEntry.createdAt | date}}.
          </small></p>
          <a [routerLink]="['/entries', diaryEntry._id]" class="card-link">
            Erfahre mehr
          </a>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="noEntries()">Sorry, es sind leider noch keine Tagebucheinträge
  vorhanden. Wir hoffen, ihr habt noch etwas Geduld mit uns.</p>
</div>
