<form [formGroup]="diaryEntryForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title text-primary">
      {{ modalTitle }}
    </h4>
    <button
      type="button"
      class="btn-close"
      [disabled]="processRequest"
      (click)="closeModal()"
      aria-label="Schließen"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="title" class="form-label">
        Gib dem Tagebucheintrag einen Titel:
      </label>
      <input
        formControlName="title"
        class="form-control"
        type="text"
        id="title"
        placeholder="Titel"
        value="{{ title.value }}"
        required
      />
      <div *ngIf="isInvalid(title)">
        <div *ngIf="title.errors?.required">
          <small class="text-danger">Ohne Titel kein Tagebucheintrag.</small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">
        Über welchen Ort schreibst du?
      </label>
      <input
        formControlName="location"
        class="form-control"
        type="text"
        id="location"
        placeholder="Stadt, Region, Land, ..."
        value="{{ location.value }}"
        required
      />
      <div *ngIf="isInvalid(location)">
        <div *ngIf="location.errors?.required">
          <small class="text-danger">
            Ohne Ortsangabe kein Tagebucheintrag.
          </small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="date-range" class="form-label">
        Über welchen Zeitraum schreibst du?
      </label>
      <app-date-range-input
        formControlName="dateRange"
        id="date-range"
      ></app-date-range-input>
      <div *ngIf="isInvalid(dateRange)">
        <div *ngIf="dateRange.errors?.invalidDateRange">
          <small class="text-danger">Dies ist kein gültiger Zeitraum.</small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">
        Hier kommt der Inhalt des Tagebucheintrages hin:
      </label>
      <textarea
        formControlName="body"
        class="form-control"
        rows="10"
        id="body"
        placeholder="Inhalt"
        value="{{ body.value }}"
        required
      >
      </textarea>
      <div *ngIf="isInvalid(body)">
        <div *ngIf="body.errors?.required">
          <small class="text-danger">Ohne Inhalt kein Tagebucheintrag.</small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-2">
        Unter welchen Stichwörtern soll der Tagebucheintrag gefunden werden
        können?
      </div>
      <app-search-tag-search
        formControlName="searchTags"
        [allowNewSearchTags]="true"
      ></app-search-tag-search>
    </div>
    <div *ngIf="imageList.length > 0">
      <h5 class="text-secondary">Fotoreihenfolge</h5>
      <div class="mb-2" *ngFor="let image of imageList; let imageIndex = index">
        <div class="mb-1">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="moveImageUp(imageIndex)"
          >
            <fa-icon [icon]="moveImageUpIcon"></fa-icon> Hoch
          </button>
          <button
            type="button"
            class="btn btn-primary btn-sm ms-1"
            (click)="moveImageDown(imageIndex)"
          >
            <fa-icon [icon]="moveImageDownIcon"></fa-icon> Runter
          </button>
          <div class="form-check form-check-inline ms-2 align-middle">
            <input
              formControlName="previewImage"
              class="form-check-input"
              type="radio"
              id="preview-image-{{ imageIndex }}"
              [value]="image"
            />
            <label
              class="form-check-label"
              for="preview-image-{{ imageIndex }}"
            >
              Vorschaubild
            </label>
          </div>
        </div>
        <figure class="figure">
          <app-image-with-loader
            [image]="image"
            class="figure-img img-fluid rounded"
          ></app-image-with-loader>
          <figcaption class="figure-caption">
            {{ image.description }}
          </figcaption>
        </figure>
      </div>
    </div>
    <div *ngIf="httpAlert.isShown" class="py-2">
      <app-http-alert-message
        [alertType]="httpAlert.alertType"
      ></app-http-alert-message>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="processRequest"
      (click)="closeModal()"
    >
      Abbrechen
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="diaryEntryForm.invalid"
      [hidden]="processRequest"
    >
      Speichern
    </button>
    <div
      *ngIf="processRequest"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden">{{ modalTitle }} ...</span>
    </div>
  </div>
</form>
