<form [formGroup]="dateRangeForm">
  <app-date-range-select
    #calendar
    [dateRange]="dateRangeForm.value"
    (dateRangeSelect)="writeValue($event)"
  ></app-date-range-select>
  <div class="input-group">
    <input
      class="form-control"
      formControlName="dateMin"
      id="date-min"
      type="text"
      placeholder="yyyy-mm-dd"
      (blur)="onBlur()"
    />
    <label class="form-label visually-hidden" for="date-min">
      Anfangsdatum
    </label>
    <span class="input-group-text">bis</span>
    <input
      class="form-control"
      formControlName="dateMax"
      id="date-max"
      type="text"
      placeholder="yyyy-mm-dd"
      (blur)="onBlur()"
    />
    <label class="form-label visually-hidden" for="date-max">Enddatum</label>
    <button
      class="input-group-text"
      type="button"
      aria-label="Öffne oder schließe Kalendar"
      (click)="calendar.toggle()"
    >
      <fa-icon [icon]="calendarIcon"></fa-icon>
    </button>
  </div>
</form>
