<form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
  <div class="custom-file mb-2">
    <input id="image"
           class="custom-file-input"
           type="file"
           accept="image/jpeg"
           required
           (change)="imageFile.setValue($event.target.files[0])">
    <label for="image" class="custom-file-label">Wähle ein Foto</label>
  </div>
  <div class="form-group">
    <label for="description" class="sr-only">Beschreibung</label>
    <input formControlName="description"
           id="description"
           class="form-control"
           type="text"
           placeholder="Beschreibung"
           required>
    <div *ngIf="isInvalid(description)">
      <div *ngIf="description.errors && description.errors.required">
        <small class="text-danger">Ohne Beschreibung kein Fotoupload.</small>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="imageForm.invalid">
    Foto hochloaden
  </button>
</form>
<div *ngIf="alertMessage" class="py-4">
  <ngb-alert [dismissible]="false" [type]="'danger'">
    {{alertMessage}}
  </ngb-alert>
</div>
