<div class="container" *ngIf="diaryEntries.length > 0">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4" *ngFor="let diaryEntry of diaryEntries">
      <app-diary-entry-card
        [diaryEntry]="diaryEntry"
        (deletedEntryId)="deleteDiaryEntry($event)"
      >
      </app-diary-entry-card>
    </div>
  </div>
</div>
<div class="container mb-4" *ngIf="diaryEntries.length === 0">
  <ngb-alert [dismissible]="false" [type]="'secondary'">
    Sorry, aber ich konnte leider keine Tagebucheinträge finden.
  </ngb-alert>
</div>
