<div class="card border-0">
  <app-image-carousel [images]="diaryEntry.images"></app-image-carousel>
  <div class="card-body">
    <h1 class="card-title">{{diaryEntry.title}}</h1>
    <h3 class="card-subtitle text-muted mb-2">{{diaryEntry.country}}</h3>
    <p class="card-text">{{diaryEntry.body}}</p>
    <p class="card-text"><small class="text-muted">
      Created on {{diaryEntry.createdAt | date}}
    </small></p>
    <button type="button" class="btn btn-primary" routerLink="/">
      Back
    </button>
  </div>
</div>
