<div class="card h-100">
  <div class="card-header bg-transparent" appAdminMode>
    <button type="button"
            class="btn btn-secondary btn-sm mr-1"
            (click)="openUpdateEntryModal()"
            [disabled]="showSpinner">
      Bearbeiten
    </button>
    <button type="button"
            class="btn btn-danger btn-sm"
            [hidden]="showSpinner"
            (click)="deleteEntry()">
      Löschen
    </button>
    <div *ngIf="showSpinner"
         class="spinner-border text-danger"
         role="status">
      <span class="sr-only">Lösche Tagebucheintrag...</span>
    </div>
  </div>
  <img *ngIf="diaryEntry.images.length > 0"
       [src]="getImageUrl(diaryEntry.images[0])"
       alt="{{diaryEntry.images[0]._id}}.jpg"
       class="card-img-top">
  <div class="card-body">
    <h4 class="card-title text-primary">{{diaryEntry.title}}</h4>
    <h6 class="card-subtitle text-secondary mb-2">
      {{diaryEntry.locationName}}
    </h6>
    <p class="card-text">{{getDiaryEntryBodyBrief()}}</p>
    <p class="card-text"><small class="text-muted">
      Erstellt am {{diaryEntry.createdAt | date}}.
    </small></p>
    <button type="button"
            class="btn btn-primary"
            (click)="openEntryModal()">
        Erfahre mehr
    </button>
  </div>
</div>
