<form [formGroup]="diaryEntryForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title text-primary">
      Erstelle/bearbeite Tagebucheintrag
    </h4>
    <button type="button" class="close" (click)="closeModal()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">
        Gib dem Tagebucheintrag einen Titel:
      </label>
      <input formControlName="title"
             class="form-control"
             type="text"
             id="title"
             placeholder="Titel"
             required>
      <div *ngIf="isInvalid(title)">
        <div *ngIf="title.errors && title.errors.required">
          <small class="text-danger">
            Ohne Titel kein Tagebucheintrag.
          </small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="location">
        Über welchen Ort schreibst du?
      </label>
      <input formControlName="locationName"
             class="form-control"
             type="text"
             id="location"
             placeholder="Stadt, Region, Land, ..."
             required>
      <div *ngIf="isInvalid(locationName)">
        <div *ngIf="locationName.errors && locationName.errors.required">
          <small class="text-danger">
            Ohne Ortsangabe kein Tagebucheintrag.
          </small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="body">
        Hier kommt der Inhalt des Tagebucheintrages hin:
      </label>
      <textarea formControlName="body"
                class="form-control"
                rows="10"
                id="body"
                placeholder="Inhalt"
                required>
      </textarea>
      <div *ngIf="isInvalid(body)">
        <div *ngIf="body.errors && body.errors.required">
          <small class="text-danger">
            Ohne Inhalt kein Tagebucheintrag.
          </small>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <h6 class="text-secondary">Fotos</h6>
    <app-image-upload (uploadedImage)="addImage($event)"></app-image-upload>
    <div *ngFor="let image of imageList">
      <div class="py-2">
        <app-image-upload [inputImage]="image"
                          (deletedImage)="deleteImage($event)">
        </app-image-upload>
      </div>
    </div>
    <div *ngIf="alertMessage">
      <ngb-alert [dismissible]="false" [type]="'danger'">
        {{alertMessage}}
      </ngb-alert>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      Abbrechen
    </button>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="diaryEntryForm.invalid"
            [hidden]="showSpinner">
      Abschicken
    </button>
    <div *ngIf="showSpinner" class="spinner-border text-primary" role="status">
      <span class="sr-only">Erstelle/bearbeite Tagebucheintrag...</span>
    </div>
  </div>
</form>
