<div class="modal-header">
  <h4 class="modal-title text-primary">Fotos hinzufügen/bearbeiten</h4>
  <button
    type="button"
    class="btn-close"
    (click)="close()"
    [disabled]="disableClose"
    aria-label="Schließen"
  ></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <h6 class="text-secondary">Foto hinzufügen</h6>
    <app-image-upload
      [entryId]="diaryEntry.id"
      (imageCreate)="updateEntry($event)"
      (processing)="disableClose = $event"
    >
    </app-image-upload>
  </div>
  <div *ngFor="let image of diaryEntry.images; let imageIndex = index">
    <div class="mb-3">
      <h6 class="text-secondary">Foto bearbeiten</h6>
      <img [appImage]="image" class="img img-fluid rounded mb-2" />
      <app-image-upload
        [entryId]="diaryEntry.id"
        [(image)]="diaryEntry.images[imageIndex]"
        (imageDelete)="updateEntry($event)"
        (processing)="disableClose = $event"
      >
      </app-image-upload>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="close()"
    [disabled]="disableClose"
  >
    Schließen
  </button>
</div>
