<form #imageFormElement [formGroup]="imageForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="files" class="form-label visually-hidden">Foto:</label>
    <input
      formControlName="files"
      class="form-control"
      type="file"
      id="files"
      accept="image/jpeg"
      [required]="image.id.length === 0 ? 'required' : false"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label visually-hidden">
      Beschreibung:
    </label>
    <input
      formControlName="description"
      class="form-control"
      type="text"
      id="description"
      placeholder="Beschreibung"
      required
    />
    <div
      *ngIf="description.invalid && (description.dirty || description.touched)"
    >
      <div *ngIf="description.errors?.required">
        <small class="text-danger">Ohne Beschreibung kein Foto-Upload.</small>
      </div>
    </div>
  </div>
  <div *ngIf="httpAlert.isShown" class="py-2">
    <app-http-alert-message
      [alertType]="httpAlert.alertType"
    ></app-http-alert-message>
  </div>
  <div class="d-flex">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      [disabled]="imageForm.invalid || processDeleteRequest"
      [hidden]="processUploadRequest"
    >
      Speichern
    </button>
    <div
      *ngIf="processUploadRequest"
      class="spinner-border text-primary"
      role="status"
    >
      <span class="visually-hidden">Speichere Foto ...</span>
    </div>
    <div *ngIf="image.id.length > 0" class="ms-1">
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="deleteImage()"
        [disabled]="processUploadRequest"
        [hidden]="processDeleteRequest"
      >
        <fa-icon [icon]="imageDeleteIcon"></fa-icon> Entfernen
      </button>
      <div
        *ngIf="processDeleteRequest"
        class="spinner-border text-danger"
        role="status"
      >
        <span class="visually-hidden">Lösche Foto ...</span>
      </div>
    </div>
  </div>
</form>
