<app-navbar (newDiaryEntry)="addDiaryEntry($event)"></app-navbar>
<div class="pt-2 pb-4">
  <div class="d-none d-sm-block">
    <img class="img-fluid"
         src="/assets/welcome_sm.jpg"
         alt="Willkommen in unserem Reisetagebuch">
  </div>
  <div class="d-block d-sm-none">
    <img class="img-fluid"
         src="/assets/welcome_xs.jpg"
         alt="Willkommen in unserem Reisetagebuch">
  </div>
</div>
<div *ngIf="showSpinner">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Lade Tagebucheinträge...</span>
    </div>
  </div>
</div>
<div *ngIf="alertMessage">
  <div class="container">
    <ngb-alert [dismissible]="false" [type]="'danger'">
      {{alertMessage}}
    </ngb-alert>
  </div>
</div>
<div *ngIf="diaryEntries">
  <app-diary-entry-grid [diaryEntries]="diaryEntries"></app-diary-entry-grid>
</div>
