<div class="logo-container mt-2 mb-4">
  <img class="logo" src="assets/logo.svg"/>
  <div class="logo-background"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 order-md-2 pb-4 pb-md-0">
      <app-navbar (newDiaryEntry)="addDiaryEntry($event)"></app-navbar>
    </div>
    <div class="col-md-6 offset-md-2 order-md-1">
      <app-diary-entry-search-form></app-diary-entry-search-form>
    </div>
  </div>
</div>
<div *ngIf="showSpinner">
  <div class="d-flex justify-content-center mb-4">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Lade Tagebucheinträge...</span>
    </div>
  </div>
</div>
<div *ngIf="!showSpinner && !alertMessage">
  <app-diary-entry-grid [diaryEntries]="diaryEntries"></app-diary-entry-grid>
</div>
<div *ngIf="alertMessage">
  <div class="container mb-4">
    <ngb-alert [dismissible]="false" [type]="'danger'">
      {{alertMessage}}
    </ngb-alert>
  </div>
</div>
<div class="bg-primary text-white">
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-sm-6">
        <h5>Warum ein Reisetagebuch?</h5>
        <p>Mit unserem Reisetagebuch möchten wir unsere Eindrücke und
        Erlebnisse auf Reisen mit unseren Familien und Freunden teilen. Das
        bedeutet, dass ihr hier weder Reisetipps noch Empfehlungen für
        Unterkünfte, Restaurants usw. finden werdet.</p>
      </div>
      <div class="col-sm-6">
        <h5>Was ist mit personenbezogenen Daten?</h5>
        <p>Auf unserer Seite werden keinerlei personenbezogene Daten
        gespeichert. Das bedeutet: keine Cookies, keine Social Media Buttons
        und keine Tools wie Google Analytics usw.</p>
      </div>
    </div>
  </div>
</div>
