<div class="modal-header">
  <h2 class="modal-title">{{diaryEntry.title}}</h2>
  <h4 class="modal-title">{{diaryEntry.locationName}}</h4>
  <button type="button" class="close" (click)="modal.hide()">
    <span>&times;</span>
  </button>
</div>
<div class="model-body">
  <div [innerHtml]="diaryEntry.body"></div>
  <p><small>Erstellt am {{diaryEntry.createdAt | date}}.</small></p>
</div>
<div>
  <button type="button" class="btn btn-default" (click)="modal.hide()">
    <span>Schließen</span>
  </button>
</div>
