<div class="container">
  <app-spinner [showSpinner]="!(diaryEntry || alertMessage)"></app-spinner>
  <app-alert [alertMessage]="alertMessage"></app-alert>
</div>

<div class="card border-0" *ngIf="diaryEntry">
  <app-image-carousel [images]="diaryEntry.images"></app-image-carousel>
  <div class="card-body">
    <h2 class="card-title">{{diaryEntry.title}}</h2>
    <h4 class="card-subtitle text-muted mb-2">{{diaryEntry.locationName}}</h4>
    <p class="card-text">{{diaryEntry.body}}</p>
    <p class="card-text"><small class="text-muted">
      Erstellt am {{diaryEntry.createdAt | date}}.
    </small></p>
    <button type="button" class="btn btn-primary" [routerLink]="'/'">
      Zurück
    </button>
  </div>
</div>
