<div class="container">
  <app-spinner [showSpinner]="!(diaryEntry || alertMessage)"></app-spinner>
  <app-alert [alertMessage]="alertMessage"></app-alert>
</div>
<div *ngIf="diaryEntry">
  <app-carousel [images]="diaryEntry.images"></app-carousel>
  <div class="container my-4">
    <h2>{{diaryEntry.title}}</h2>
    <h4 class="text-muted">{{diaryEntry.locationName}}</h4>
    <div [innerHtml]="diaryEntry.body"></div>
    <p><small class="text-muted">Erstellt am {{diaryEntry.createdAt | date}}.
    </small></p>
    <button type="button" class="btn btn-primary" [routerLink]="'/'">
      Zurück
    </button>
  </div>
</div>
