<ngb-carousel #carousel
              [interval]="-1"
              [showNavigationIndicators]="false"
              [animation]="false">
  <ng-template ngbSlide
               *ngFor="let image of imageList; let imageIndex = index"
               id="{{imageIndex}}">
    <div class="d-flex justify-content-end">
      <small class="text-muted">
        {{getImageNumber(carousel.activeId)}}/{{imageList.length}}
      </small>
    </div>
    <figure class="figure">
      <a [appImage]="image">
        <img [appImage]="image" class="figure-img img-fluid rounded">
      </a>
      <figcaption class="figure-caption">{{image.description}}</figcaption>
    </figure>
  </ng-template>
</ngb-carousel>
