<ngb-carousel #carousel [interval]="-1" [showNavigationIndicators]="false">
  <ng-template ngbSlide
               *ngFor="let image of imageList; let imageIndex = index"
               [id]="imageIndex">
    <div class="d-flex justify-content-end">
      <small class="text-muted">
        {{carousel.activeId + 1}}/{{imageList.length}}
      </small>
    </div>
    <figure class="figure">
      <a href="{{getImageUrl(image)}}">
        <img src="{{getImageUrl(image)}}"
             alt="{{image._id}}.jpg"
             class="figure-img img-fluid rounded">
      </a>
      <figcaption class="figure-caption">{{image.description}}</figcaption>
    </figure>
  </ng-template>
</ngb-carousel>
