<form
  class="row row-cols-auto align-items-center g-2"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
>
  <div class="col">
    <label for="search-tag" class="form-label visually-hidden">
      Stichwortsuche:
    </label>
    <div class="input-group me-sm-2">
      <span class="input-group-text bg-transparent">
        <fa-icon [icon]="searchIcon" [classes]="['text-dark']"></fa-icon>
      </span>
      <input
        formControlName="searchTag"
        id="search-tag"
        class="form-control border-start-0 border-end-0"
        type="text"
        placeholder="Stichwort"
        (focus)="onFocus($any($event).target.value)"
        [ngbTypeahead]="search"
        [editable]="allowNewSearchTags"
        popupClass="search-tags-search-window"
        required
      />
      <div class="input-group-text bg-transparent">
        <div
          class="spinner-border spinner-border-sm text-dark"
          [class.invisible]="!searching"
          role="status"
        >
          <span class="visually-hidden">Suche Stichwörter...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      aria-label="Stichwort hinzufügen"
      [disabled]="searchForm.invalid"
    >
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
  </div>
</form>
<div *ngIf="!searching && httpAlert.isShown" class="mt-2">
  <app-http-alert-message
    [alertType]="httpAlert.alertType"
  ></app-http-alert-message>
</div>
<button
  *ngFor="let searchTag of searchTags"
  type="button"
  class="btn btn-secondary btn-sm mt-2 me-2"
  (click)="deselect(searchTag)"
>
  <span class="me-2">{{ searchTag }}</span>
  <fa-icon [icon]="deselectIcon"></fa-icon>
</button>
