<form class="row g-2" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="col-auto">
    <label for="search-tag" class="form-label visually-hidden">
      Stichwortsuche:
    </label>
    <div class="input-group me-sm-2">
      <span class="input-group-text bg-transparent">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </span>
      <input
        formControlName="searchTag"
        id="search-tag"
        class="form-control border-start-0 border-end-0"
        type="text"
        placeholder="Stichwort"
        (focus)="onFocus($any($event).target.value)"
        [ngbTypeahead]="search"
        [editable]="false"
        popupClass="search-tags-search-window"
        required
      />
      <div class="input-group-text bg-transparent">
        <div
          class="spinner-border spinner-border-sm"
          [class.invisible]="!searching"
          role="status"
        >
          <span class="visually-hidden">Suche Stichwörter...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="searchForm.invalid"
    >
      <span *ngIf="searchTags.length === 0">Suchen</span>
      <span *ngIf="searchTags.length > 0">Hinzufügen</span>
    </button>
  </div>
</form>
<div *ngIf="!searching && httpAlert.isShown" class="mt-2">
  <app-http-alert-message
    [alertType]="httpAlert.alertType"
  ></app-http-alert-message>
</div>
<button
  *ngFor="let searchTag of searchTags"
  type="button"
  class="btn btn-secondary btn-sm mt-2 me-2"
  (click)="deselect(searchTag)"
>
  <span class="me-2">{{ searchTag }}</span>
  <fa-icon [icon]="deselectIcon"></fa-icon>
</button>
