<button type="button" class="btn btn-primary" (click)="prevImage()">
  <span>Zurück</span>
</button>

<button type="button" class="btn btn-primary" (click)="nextImage()">
  <span>Vor</span>
</button>

<figure class="figure">
  <a href="{{imageUrl(activeImage)}}">
    <img src="{{imageUrl(activeImage)}}"
         alt="{{image._id}}.jpg"
         class="figure-img img-fluid">
  </a>
  <figcaption class="figure-caption">
    <span class="text-center">{{image.description}}</span>
  </figcaption>
</figure>
