<div class="container py-4">
  <div class="beach-title text-center">
    <h3 class="display-3 d-none d-md-block">{{title}}</h3>
    <h3 class="d-md-none">{{title}}</h3>
  </div>
  <div class="row mt-4">
    <div class="col-sm-8">
      <img class="img-fluid rounded"
           src="/assets/jumbotron.jpg"
           alt="jumbotron.jpg">
    </div>
    <div class="col-sm-4">
      <div class="beach-welcome rounded p-2 mt-2 mt-sm-0">
        <h5>Willkommen in unserem Reisetagebuch.</h5>
        <p>Schön, dass ihr vorbei schaut und euch für unsere Reiseabenteuer
        interessiert. Wir wünschen euch viel Vergnügen beim Lesen.</p>
      </div>
    </div>
  </div>
</div>
