<form [formGroup]="diaryEntrySearchForm">
  <div class="form-group">
    <label for="tags" class="sr-only">Suche nach Tagebucheinträgen</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent">
          <fa-icon [icon]="diaryEntrySearchIcon"></fa-icon>
        </div>
      </div>
      <input formControlName="tags"
             id="tags"
             class="form-control border-left-0"
             type="text"
             placeholder="Stichwort, ...">
    </div>
  </div>
</form>
