// override Bootstrap's primary and secondary color variables with colors from
// the Beach color palette: https://www.color-hex.com/color-palette/895
$primary: #96ceb4;
$secondary: #ffcc5c;
$danger: #ff6f69;

@import "~bootstrap/scss/bootstrap";

button.btn.btn-primary {
  border-radius: $rounded-pill;
  color: color("white");
}

button.btn.btn-secondary {
  border-radius: $rounded-pill;
  color: color("white");
}

button.btn.btn-danger {
  border-radius: $rounded-pill;
  color: color("white");
}

button.btn.btn-outline-light {
  border-radius: $rounded-pill;
}

.badge {
  font-weight: normal;
}

.badge-outline-primary {
  border: 1px solid theme-color("primary");
  background-color: transparent;
}

.search-tags-search-window {
  max-height: 250px;
  overflow-y: auto;
}
