// override Bootstrap's primary and secondary color variables with colors from
// the Beach color palette: https://www.color-hex.com/color-palette/895
@import "theme";
@import "~bootstrap/scss/bootstrap";

button.btn.btn-primary {
  border-radius: $border-radius-pill;
  color: $white;
}

button.btn.btn-secondary {
  border-radius: $border-radius-pill;
  color: $white;
}

button.btn.btn-danger {
  border-radius: $border-radius-pill;
  color: $white;
}

button.btn.btn-outline-light {
  border-radius: $border-radius-pill;
}

.search-tag {
  border: $border-width solid $primary;
  border-radius: $border-radius-pill;
  font-size: $font-size-sm;
  padding: map-get($spacers, 1) map-get($spacers, 2);
}

.search-tags-search-window {
  max-height: 250px;
  overflow-y: auto;
}
