$beach-color-primary: #96ceb4;
$beach-color-primary-darker: #87b9a2;
$beach-color-secondary: #ffcc5c;

.beach-title {
    color: $beach-color-primary;
}

.beach-subtitle {
    color: $beach-color-secondary;
}

.beach-button {
    background-color: $beach-color-primary;
    color: #ffffff;
}
.beach-button:hover {
    background-color: $beach-color-primary-darker;
    color: #ffffff;
}
